@charset "utf-8";
/* CSS Document */


.skill{
	position:relative;
	display:inline-block;
	margin-bottom:5px;
	width:60%;
	background:#dde4e6;
	height:25px;
	border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}
.skill-title{
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	text-transform:uppercase;	
	height:25px;
  	margin:0;
  	background:#618fba;  
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	text-align:center;
	
}
.skill-bar{
	line-height:25px;
	padding:0 20px;
	height:25px;
	width:0px;
	background:#618fba;
	text-align:right;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	text-transform:uppercase;
}

.skill-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:25px;
	line-height:25px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
#Wrapper #page-content-wrapper #page-content #Title-Banner h1 {
	text-align: center;
}
.perc{
	position:absolute;
	top:0;
	right:0;
	line-height:25px;
	height:25px;
	width:30px;
	color:rgba(0,0,0,.2);
}
